.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 60px;
    left: 0;
    transform: translateX(-114%);
    transition: all 0.2s;
    z-index: 50;

    &-blur {
        width: 100%;
        height: 100vh;
        left: 14%;
        backdrop-filter: blur(2px);
        position: absolute;        
    }

    &-items {
        background-color: #f9f9f9;
        width: 14%;
        border-radius: 5px;
    }

    &-item {
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 5px 0;
        border-top: 1px solid #d0caca;

        &-link {
            color: #000;
            padding-right: 5px;
        }

        &-link:hover {
            color: #000;
        }
    }

    &-item:hover {
        background-color: #0a50bf;
    }

    &-item:last-of-type {
        border-bottom: 1px solid #d0caca;
    }

    &-list {
        list-style-type: none;
        display: flex;
        padding: 0 5px;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }
}

.menu.open {
    transform: translateX(0);
}