.blogs {
    width: 75%;
    margin: 0 auto 30px;

    .g-3 {
        margin-bottom: 50px;
    }

    .blog-title:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &-search {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        
        &-item {
            width: 20%;
        }
    }

    &-pagination {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        border: 1px solid #e9ecef;
        border-radius: 5px;
        justify-content: center;

        &-num {
            width: 55px;
            text-align: center;
            padding: 10px 10px;
            border-left: 1px solid #e9ecef;
            cursor: pointer;
        }

        &-num:first-of-type {
            border-left: 1px solid transparent;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &-num:last-of-type {
            border-right: 1px solid transparent;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &-num.current-page {
            cursor: auto;
            pointer-events: none;
        }

        &-num:hover {
            text-decoration: underline;
        }

        .current-page {
            font-weight: 700;
            background-color: #2d59e8;
        }
    }

    &-selected {
        width: 50%;
        margin: 0 auto;

        &-img {
            display: block;
            width: 100%;
            height: 450px;
            margin-bottom: 10px;
        }

        &-date {
            font-size: 20px;
            color: #d8c4c4;
            margin: 10px 0;
        }

        &-text {
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            text-align: justify;
            margin: 10px 0;
        }
    }    
}